html {
  overflow-y: scroll;
}

body {
	margin: 0px;
}
.left-navbar {
	background-color: #222222;
    float: left;
    min-height: 100%;
    position: fixed;
    width: 15%;
}
.logout_button {
	background: rgba(133, 133, 133, 0.66);
	color: white;
	font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana';
    font-size: 15px;
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 4px;
	cursor: pointer;

	top: 500px;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	margin: auto;

}

.logout_button:hover {
    background-color: rgba(216, 216, 216, 0.96);
	color: #6975ff;
	transition: 0.7s;
}

#main-wrapper {
	float: left;
    margin-left: 18%;
    width: 75%;
}

.main-content section {
	margin: 0;
}

.welcome_back_div {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 5px 0 5px;
    text-align: center;
}

.collapsible_course_list {
    background-color: #aaaaaa;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 17px;
}

.collapsible_course_list:hover {
    background-color: #cccccc;
    transition: 0.5s;
    opacity: 40%;
}

.content {
    padding: 0 18px;
	overflow: hidden;
    display: none;
	background-color: #f5f5f5;
    position: relative;

}

.collapsible_course_list:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.course_inputs {
    background-color: #d2cccb;
    padding: 4px 4px 4px 4px;
}

.AddCourseButton {
    right: 30px;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

td {
    border-spacing: 1px;
    border: 1px solid #ddd;
	text-align: center;
    padding: 5px;
}

th {
    color: #ffffff;
    background-color: #2573c0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

tr {
    color: #5ca8ff;
}

tr:nth-child(even) {
    background-color: #d9d9d9;
}

tr:hover {
    background-color: gray;
    color: white;
}



