<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/css/dashboard-admin.css">
        <title> Admin Dashboard </title>
    </head>

    <body id="welcome">
        <aside class="left-navbar">
            <div id="login_button">
                <button type="button" class="logout_button" onclick="window.location.href='{{url_for('logout')}}';"> Logout </button>
            </div>
        </aside>

        <div id="main-wrapper">
            <div class="main-content">
                <section id="welcome">
                    <div class="welcome_back_div">
                        <h1><b> Welcome back, Admin User! </b></h1>
                    </div>
                </section>

                <br>

                <section id="course_list">
                    <div>
                        <button class="collapsible_course_list"><b>List of Course(s)</b></button>
                        <div class="content">
                            <br>
                            <div class="course_inputs">
                                <form action="{{ url_for('admin_dashboard') }}" method="POST">
                                    <label for="CourseID">Course ID</label>
                                        <input type="text" name="CourseID" required>
                                    <label for="CourseName">Course Name</label>
                                        <input type="text" name="CourseName" required>
                                    <label for="CourseDescription"> Course Description</label>
                                        <input type="text" name="CourseDescription" required>
                                        <button class="AddCourseButton" type="submit" name="AddCourse">Add Course</button>
                                </form>
                            </div>

                            <br>

                            <div class="course_inputs">
                                <form action="{{ url_for('admin_dashboard') }}" method="POST">
                                    <label for="DeleteCourseID">Course ID</label>
                                        <input type="text" name="DeleteCourseID" required>

                                        <button type="submit" name="DeleteCourse">Delete Course</button>
                                </form>
                            </div>

                            <div class="course_table_div">
                                <table class="course_table" style="width:100%">
                                    <tr>
                                        <th> Course ID </th>
                                        <th> Course Name </th>
                                        <th> Course Description </th>
                                    </tr>

                                    <br>

                                    {% for courses in course_list %}
                                        <tr>
                                            <td><b> {{ courses[0] }} </b></td>
                                            <td><b> {{ courses[1] }} </b></td>
                                            <td><b> {{ courses[2] }} </b></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    <script src="../static/javascript/dashboard-admin.js"></script>
    </body>
</html>