<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/css/dashboard-student.css">
        <title> Student Dashboard </title>
    </head>

    <body id="welcome">
        <aside class="left-navbar">
            <div id="login_button">
                <button type="button" class="logout_button" onclick="window.location.href='{{url_for('logout')}}';"> Logout </button>
            </div>
        </aside>

        <div id="main-wrapper">
            <div class="main-content">
                <section id="welcome">
                    <div class="welcome_back_div">
                        <h1><b> Welcome back, {{ name }}! </b></h1>
                    </div>
                </section>

                <br>

                <section>
                    <div class="personal_info">
                        <button class="collapsible_personal_info"><b>View Your Personal Information</b></button>
                        <div class="content">
                            <h1> Name: {{ personal_info[0][0] }}</h1>
                            <h1> <b> Age: {{ personal_info[0][1] }} </b> </h1>
                            <h1> <b> Gender: {{ personal_info[0][2] }} </b> </h1>
                            <h1> <b> Major: {{ personal_info[0][3] }} </b> </h1>
                            <h1> <b> Address: {{ personal_info[0][4] }} {{ personal_info[0][5] }}</b> </h1>
                            <img src="../static/img/profile-default.png" class="profile_pic">
                        </div>
                    </div>
                </section>

                <section>
                    <div class="courses_message_div">
                        <table class="courses_table" style="width:100%">
                            <tr>
                                <th>Course</th>
                                <th>Section Number</th>
                                <th> Course Name</th>
                            </tr>

                            {% for course in range(courses | length) %}
                                {% if courses[course][0] in capstone_courses %}

                                      <tr class="capstone">

                                          <td> <h1> <b>
                                              <a class="capstone_tooltip"> {{ courses[course][0] }}
                                                   <span> Capstone Course </span>
                                              </a>
                                          </b> </h1></td>

                                          <td> <h1> <b>
                                              <a class="capstone_tooltip"> {{ courses[course][1] }}
                                                  <span> Capstone Course </span>
                                              </a>
                                          </b> </h1> </td>

                                          <td> <h1> <b>
                                              <a class="capstone_tooltip"> {{ courses[course][2] }}
                                                  <span> Capstone Course </span>
                                              </a>
                                          </b> </h1> </td>

                                      </tr>
                                {% else %}
                                    <tr>
                                        <td> <h1> <b> {{ courses[course][0] }}</b> </h1> </td>
                                        <td> <h1> <b> {{ courses[course][1] }} </b> </h1> </td>
                                        <td> <h1> <b> {{ courses[course][2] }}</b> </h1> </td>
                                    </tr>
                                {% endif %}
                                {% endfor %}
                        </table>
                    </div>
                </section>

                <section>
                    <div class="professor_information">

                        <button class="collapsible_professor_info">
                            <b> View Your Professor(s) Information </b>
                        </button>

                        <div class="course_content_professors">

                            {% for info in range(prof_info | length) %}
                                <button class="collapsible_professor"> <b>{{ prof_info[info][0][3] }}</b> </button>

                                <div class="professor_content">
                                    <h1> Name of Professor: {{ prof_info[info][0][0] }} </h1>
                                    <h1> Professor's Email: {{ prof_info[info][0][1] }}</h1>
                                    <h1> Professor's Office Location: {{ prof_info[info][0][2] }}</h1>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </section>

                <section>
                    <div class="grades_info">
                        <button class="collapsible_grades_info"><b>View Your Grade(s)</b></button>
                        <div class="course_content">
                            {% for course_name in range(courses | length) %}
                                <button class="collapsible_courses"> <b>{{ courses[course_name][0] }}</b> </button>
                                <div class="course_content1">
                                    <table>
                                            <tr>
                                                <th>Exam Number</th>
                                                <th>Exam Score</th>
                                            </tr>

                                        {% for exam in range(exam_grades | length) %}
                                            {% if exam_grades[exam][0] in courses[course_name] %}
                                                <tr>
                                                    <td> <h1> <b> {{ exam_grades[exam][1] }}</b> </h1> </td>
                                                    <td> <h1> <b> {{ exam_grades[exam][2] }} </b> </h1> </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>

                                    <table>
                                            <tr>
                                                <th> Homework Number </th>
                                                <th> Homework Score </th>
                                            </tr>

                                        {% for hw in range(hw_grades | length) %}
                                            {% if hw_grades[hw][0] in courses[course_name] %}
                                                <tr>
                                                    <td> <h1> <b> {{ hw_grades[hw][1] }} </b> </h1> </td>
                                                    <td> <h1> <b> {{ hw_grades[hw][2] }} </b> </h1> </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>

            </div>
        </div>

    <script src="../static/javascript/dashboard-student.js"></script>
    </body>
</html>
