<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/css/dashboard-professor.css">
        <title> Faculty Member Dashboard </title>
    </head>

<body id="welcome">
    <aside class="left-navbar">
        <div id="login_button">
            <button type="button" class="logout_button" onclick="window.location.href='{{url_for('logout')}}';"> Logout </button>
        </div>
    </aside>

    <div id="main-wrapper">
        <div class="main-content">
            <section id="welcome">
                <div class="welcome_back_div">
                    <h1><b> Welcome back, {{ name }}! </b></h1>
                </div>
            </section>

            <section>
                <div class="personal_info">
                    <button class="collapsible_prof_info"><b>View Your Personal Information</b></button>
                    <div class="content">
                        <h1> Name: {{ prof_information[0][0] }}</h1>
                        <h1> <b> Age: {{ prof_information[0][1] }} </b> </h1>
                        <h1> <b> Gender: {{ prof_information[0][2] }} </b> </h1>
                        <h1> <b> Office Address: {{ prof_information[0][3] }} </b> </h1>
                        <h1> <b> Department: {{ prof_information[0][4] }} </b> </h1>
                        <h1> <b> Title: {{ prof_information[0][5] }} </b></h1>
                        <img src="../static/img/profile-default.png" class="profile_pic">
                    </div>
                </div>
            </section>

            <section>
                <div class="students_list_info"></div>
                <h1> You are teaching: </h1>
                {% for courses in range(course_teaching | length) %}
                    <button class="collapsible_students_list"> <b> {{ course_teaching[courses][0] }} </b> </button>
                    <div class="course_content1">
                        <table class="student_table" style="width:100%">
                            <tr>
                                <th class="student_th" onclick="w3.sortHTML('.student_table', '.students', 'td:nth-child(1)')" style="cursor:pointer">Name</th>
                                <th class="student_th" onclick="w3.sortHTML('.student_table', '.students', 'td:nth-child(2)')" style="cursor:pointer">Email</th>
                                <th class="student_th" onclick="w3.sortHTML('.student_table', '.students', 'td:nth-child(3)')" style="cursor:pointer">Major</th>
                                <th class="student_th" onclick="w3.sortHTML('.student_table', '.students', 'td:nth-child(4)')" style="cursor:pointer">Section</th>
                            </tr>

                            {% for student in range(student_list | length) %}
                                <tr class="students">
                                    <td> <h1> <b> {{ student_list[student][0] }} </b> </h1> </td>
                                    <td> <h1> <b> {{ student_list[student][1] }} </b> </h1> </td>
                                    <td> <h1> <b> {{ student_list[student][2] }} </b> </h1> </td>
                                    <td> <h1> <b> {{ student_list[student][3] }} </b> </h1> </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </section>

        </div>
    </div>

    <script src="../static/javascript/dashboard-professor.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    </body>
</html>